<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Place</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
  <header>
    <div class="container">
      <h1><a href="{% url 'app:index' %}">Photo Place</a></h1> <div class="header-menu">
        <a href="{% url 'app:photos_new' %}">投稿</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'app:users_detail' request.user.id %}">マイページ</a>
          <a href="{% url 'app:fav_photos' %}">お気に入り</a>
          <a href="{% url 'app:logout' %}">ログアウト</a>
        {% else %}
          <a href="{% url 'app:login' %}">ログイン</a>

        {% endif %}
      </div>
    </div>
  </header>
  
  <div class="container">
    {% for message in messages %}
      <p class="message-success">{{ message }}</p>
    {% endfor %}
    
    {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous"></script>

</body>
</html>
