{% extends 'app/base.html' %}

{% block content %}

<div class="photo-detail">
  <span class="border-left-0" >
    <img src="{{ photo.image.url }}" alt="Responsive image" class="img-thumbnail shadow p-3 mb-5 bg-white rounded">
  </span>
  <div class="photo-info">
    <a href="{% url 'app:users_detail' photo.post_user.id %}">@{{ photo.post_user }}</a>
  </div>

  <h2>{{ photo.place_name }}</h2>
  
  <div class="point-fav-section">
    {% if request.user.is_authenticated %}
      <form action="{% url 'app:fav_photos_status' %}" method="post">{% csrf_token %}
        <input type="hidden" name="photo_id" value="{{ photo.id }}">
        {% if photo in user.fav_photos.all %}
          <input type="submit" name="submit" class="fav_button" value="お気に入りから外す"/> 
        {% else %}
          <input type="submit" name="submit" class="fav_button" value=" お気に入りに入れる" />
        {% endif %}
      </form>
    {% endif %}
  </div>
  
  <!-- 削除ボタン -->
  <!-- アクセスしたユーザー＝この写真を投稿したユーザーの時だけ削除btnが表示されればいいのでその条件を書く。 -->
  {% if request.user == photo.user %}
    <form method="post" action="{% url 'app:photos_delete' photo.id %}">{% csrf_token %}
      <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
    </form>
  {% endif %}


</div>



{% endblock %}

